table {
  thead {
    tr {
      background: rgb(201, 209, 216);
    }
  }
  tr {
   background: rgb(220, 225, 229);
    &:hover {
      background: rgb(201, 209, 216);
    }
  }
  &.dark {
    thead {
      tr {
        background: rgba(53, 71, 89, .5);
      }
    }
    tr {
      background: rgba(14, 15, 26, .25);
      &:hover {
        background: rgba(53, 71, 89, .5)
      }
    }
  }
}
table {
  tr {
    td {
      &.red {
        color: rgb(249, 76, 76);
      }
      &.green {
        color: rgb(60, 193, 149)
      }
    }
  }
  thead {
    th {
      min-width: 100px;
      padding: 10px 15px;
    }
  }
  tbody {
    tr {
      &.hidden {
        display: none;
      }
      td {
        padding: 10px 15px;

        .expand-icon {
          vertical-align: middle;
          &.open {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
